<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '_required-css.twig' %}

    {% include '_template-css.twig' %}

    <title>404 Page not found - {{title}}</title>
  </head>
  <body>

    {% include '_header.twig' with {'active':'pages', 'sub':'404'} %}

    <!-- Main Content -->
    <div class="container my-4 text-center">

      <img src="../img/404.jpg" alt="404" width="250" class="img-fluid rounded-circle mb-3 img-thumbnail border-info">
      <h1><span class="text-danger">Oops!</span> Error 404 page not found</h1>
      <p>The page you were looking for doesn't exist.</p>
      <a href="javascript:history.back()" class="btn btn-danger rounded-pill"><i data-feather="arrow-left"></i> Go back</a>

    </div>
    <!-- /Main Content -->

    {% include '_footer.twig' %}

    {% include '_modal-menu.twig' with {'active':'pages', 'sub':'404'} %}

    {% include '_required-js.twig' %}

    {% include '_template-js.twig' %}

  </body>
</html>