<div class="card">
            <div class="card-header bg-white border-bottom bold roboto-condensed">
              <h5 class="bold mb-0">POPULAR THIS <span class="text-primary">WEEK</span></h5>
            </div>
            <div class="card-body">

              <div class="row">
                <div class="col-12 col-sm-6 col-md-12">
                  <div class="card card-blog shadow-none">
                    <a href="blog-single.html" class="zoom-hover"><img src="../img/blog/3.jpeg" alt="Blog"></a>
                    <div class="card-body p-0 text-center">
                      <a href="blog-single.html" class="title h5 mt-3">5 Simple Outfits for Men</a>
                      <div class="small text-muted">
                        <i data-feather="heart"></i> 55 Likes
                        <i data-feather="message-square" class="ml-3"></i> 15 Comments
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-12 mt-4 mt-sm-0 mt-md-4">
                  <div class="card card-blog shadow-none">
                    <a href="blog-single.html" class="zoom-hover"><img src="../img/blog/4.jpeg" alt="Blog"></a>
                    <div class="card-body p-0 text-center">
                      <a href="blog-single.html" class="title h5 mt-3">Business Casual Outfit Ideas</a>
                      <div class="small text-muted">
                        <i data-feather="heart"></i> 55 Likes
                        <i data-feather="message-square" class="ml-3"></i> 15 Comments
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="card mt-3">
            <div class="card-header bg-white border-bottom bold roboto-condensed">
              <h5 class="bold mb-0">POPULAR <span class="text-primary">TAGS</span></h5>
            </div>
            <div class="card-body">
              <div class="btn-group-scatter">
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Design</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Fashion</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Beauty</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Travel</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Sport</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill active">Active tag</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Cooking</a>
                <a href="javascript:void(0)" class="btn btn-light rounded-pill">Technology</a>
              </div>
            </div>
          </div>