<div class="card-body">
              <a href="javascript:void(0)" class="btn btn-link btn-icon"><i data-feather="chevron-left"></i></a>
              <div class="d-inline-flex">
                <a href="javascript:void(0)" class="btn btn-icon rounded-pill btn-light">1</a>
                <a href="javascript:void(0)" class="btn btn-icon rounded-pill btn-primary">2</a>
                <a href="javascript:void(0)" class="btn btn-icon rounded-pill btn-light">3</a>
                <button type="button" class="btn btn-icon rounded-pill bg-white">...</button>
                <a href="javascript:void(0)" class="btn btn-icon rounded-pill btn-light">10</a>
              </div>
              <a href="javascript:void(0)" class="btn btn-link btn-icon"><i data-feather="chevron-right"></i></a>
            </div>