<!-- Quick view modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="quickviewModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
            <div class="row">
              <div class="col-lg-6">
                <div class="swiper-container" id="quickview-slider">
                  <div class="swiper-wrapper">
                    <img src="../img/products/1_medium.jpg" data-large="../img/products/1_large.jpg" alt="Product" class="swiper-slide">
                    <img src="../img/products/1_medium_yellow.jpg" data-large="../img/products/1_large_yellow.jpg" alt="Product" class="swiper-slide">
                    <img src="../img/products/1_medium_red.jpg" data-large="../img/products/1_large_red.jpg" alt="Product" class="swiper-slide">
                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-prev autohide"><i data-feather="chevron-left"></i></div>
                  <div class="swiper-button-next autohide"><i data-feather="chevron-right"></i></div>
                  <button class="wishlist atw-demo active" title="Added to wishlist"><i data-feather="heart"></i></button>
                </div>
              </div>
              <div class="col-lg-6 mt-3 mt-lg-0">
                <h3 class="card-title">Hanes Men's Pullover EcoSmart Fleece Hooded Sweatshirt</h3>
                <h6><span class="rating" data-value="4.5"></span> <a href="javascript:void(0)">2 reviews</a></h6>
                <h3 class="price">
                  <span class="del">$140.00</span>
                  <span >$120.00</span>
                </h3>
                <form>
                  <div class="form-group">
                    <label class="bold d-block">Size</label>
                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-info active">
                        <input type="radio" name="size" checked> Small
                      </label>
                      <label class="btn btn-outline-info">
                        <input type="radio" name="size"> Medium
                      </label>
                      <label class="btn btn-outline-info">
                        <input type="radio" name="size"> Large
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="bold">Color</label>
                    <div class="color-options justify-content-start">
                      <label class="custom-control custom-radio custom-radio-color custom-control-inline">
                        <input type="radio" name="color-option1" class="custom-control-input" checked>
                        <span class="custom-control-label" style="background-color: #314e76"></span>
                      </label>
                      <label class="custom-control custom-radio custom-radio-color custom-control-inline">
                        <input type="radio" name="color-option1" class="custom-control-input">
                        <span class="custom-control-label" style="background-color: #fcab28"></span>
                      </label>
                      <label class="custom-control custom-radio custom-radio-color custom-control-inline">
                        <input type="radio" name="color-option1" class="custom-control-input">
                        <span class="custom-control-label" style="background-color: #db4524"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-6">
                      <label class="bold">Quantity</label>
                      <div class="w-100 spinner">
                        <button type="button" class="btn btn-icon rounded-circle"><i data-feather="minus"></i></button>
                        <input type="number" class="form-control" value="1" min="1" max="999">
                        <button type="button" class="btn btn-icon rounded-circle"><i data-feather="plus"></i></button>
                      </div>
                    </div>
                    <div class="form-group col-6 d-flex align-items-end">
                      <button type="button" class="btn btn-primary btn-block rounded-pill atc-demo" data-title="Hanes Men's Pullover EcoSmart Fleece Hooded Sweatshirt">Add to Cart</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Quick view modal -->
