<!--Menu Modal -->
    <div class="modal modal-left modal-menu" id="menuModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header shadow">
            <a class="h5 mb-0 d-flex align-items-center" href="index.html">
              <img src="../img/logo.svg" alt="Mimity" class="mr-3">
              <strong>Mimity</strong>
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body shadow">
            <ul class="menu" id="menu">
              <li class="no-sub{% if (active == 'index') %} mm-active{% endif %}"><a href="index.html"><i data-feather="home"></i> Home</a></li>
              <li>
                <a href="#" class="has-arrow"><i data-feather="shopping-bag"></i> Shop</a>
                <ul>
                  <li{% if (sub == 'shop-categories') %} class="mm-active"{% endif %}><a href="shop-categories.html">Shop Categories</a></li>
                  <li{% if (sub == 'shop-grid') %} class="mm-active"{% endif %}><a href="shop-grid.html">Shop Grid</a></li>
                  <li{% if (sub == 'shop-list') %} class="mm-active"{% endif %}><a href="shop-list.html">Shop List</a></li>
                  <li{% if (sub == 'shop-single') %} class="mm-active"{% endif %}><a href="shop-single.html">Single Product</a></li>
                  <li{% if (sub == 'shop-single2') %} class="mm-active"{% endif %}><a href="shop-single2.html">Single Product v2</a></li>
                  <li{% if (sub == 'cart') %} class="mm-active"{% endif %}><a href="cart.html">Cart</a></li>
                  <li{% if (sub == 'checkout') %} class="mm-active"{% endif %}><a href="shipping.html">Checkout</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-arrow"><i data-feather="rss"></i> Blog</a>
                <ul>
                  <li{% if (sub == 'blog-grid') %} class="mm-active"{% endif %}><a href="blog-grid.html">Post Grid</a></li>
                  <li{% if (sub == 'blog-list') %} class="mm-active"{% endif %}><a href="blog-list.html">Post List</a></li>
                  <li{% if (sub == 'blog-single') %} class="mm-active"{% endif %}><a href="blog-single.html">Single Post</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-arrow"><i data-feather="user"></i> Account</a>
                <ul>
                  <li{% if (sub == 'account-login') %} class="mm-active"{% endif %}><a href="account-login.html">Login / Register</a></li>
                  <li{% if (sub == 'account-profile') %} class="mm-active"{% endif %}><a href="account-profile.html">Profile Page</a></li>
                  <li{% if (sub == 'account-orders') %} class="mm-active"{% endif %}><a href="account-orders.html">Orders List</a></li>
                  <li{% if (sub == 'account-wishlist') %} class="mm-active"{% endif %}><a href="account-wishlist.html" class="has-badge">Wishlist <span class="badge rounded badge-primary">2</span></a></li>
                  <li{% if (sub == 'account-address') %} class="mm-active"{% endif %}><a href="account-address.html">Address</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-arrow"><i data-feather="file"></i> Pages</a>
                <ul>
                  <li{% if (sub == 'about') %} class="mm-active"{% endif %}><a href="about.html">About Us</a></li>
                  <li{% if (sub == 'contact') %} class="mm-active"{% endif %}><a href="contact.html">Contact Us</a></li>
                  <li{% if (sub == 'compare') %} class="mm-active"{% endif %}><a href="compare.html">Compare</a></li>
                  <li{% if (sub == 'faq') %} class="mm-active"{% endif %}><a href="faq.html">Help / FAQ</a></li>
                  <li{% if (sub == '404') %} class="mm-active"{% endif %}><a href="404.html">404 Not Found</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Menu Modal -->