<div class="accordion accordion-caret accordion-sidebar d-none d-md-block">
            <div class="card">
              <div class="card-header">
                <a href="#filter-categories" data-toggle="collapse" aria-expanded="true" aria-controls="filter-categories" role="button" class="h6">
                  CATEGORIES
                </a>
              </div>
              <div id="filter-categories" class="collapse show">
                <div class="card-body">
                  <ul class="list-tree">
                    <li>
                      <a href="#" class="has-arrow">Men's Fashion <small class="counter">(120)</small></a>
                      <ul>
                        <li class="mm-active"><a href="javascript:void(0)">Clothing <small class="counter">(40)</small></a></li>
                        <li><a href="javascript:void(0)">Shoes <small class="counter">(20)</small></a></li>
                        <li><a href="javascript:void(0)">Watches <small class="counter">(35)</small></a></li>
                        <li><a href="javascript:void(0)">Accessories <small class="counter">(25)</small></a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="has-arrow">Women's Fashion <small class="counter">(140)</small></a>
                      <ul>
                        <li><a href="javascript:void(0)">Clothing <small class="counter">(40)</small></a></li>
                        <li><a href="javascript:void(0)">Shoes <small class="counter">(30)</small></a></li>
                        <li><a href="javascript:void(0)">Jewelry <small class="counter">(25)</small></a></li>
                        <li><a href="javascript:void(0)">Handbags <small class="counter">(45)</small></a></li>
                      </ul>
                    </li>
                    <li><a href="javascript:void(0)">Girls' Fashion <small class="counter">(95)</small></a></li>
                    <li><a href="javascript:void(0)">Boys' Fashion <small class="counter">(97)</small></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a href="#filter-price" data-toggle="collapse" aria-expanded="true" aria-controls="filter-price" role="button" class="h6">
                  PRICE
                </a>
              </div>
              <div id="filter-price" class="collapse show">
                <div class="card-body">
                  <div class="d-flex justify-content-between mb-3">
                    <input type="text" class="form-control form-control-sm rounded-pill text-center bold roboto-condensed bg-light mr-2 minw-0" id="price-slider-min">
                    <input type="text" class="form-control form-control-sm rounded-pill text-center bold roboto-condensed bg-light ml-2 minw-0" id="price-slider-max">
                  </div>
                  <div id="price-slider"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a href="#filter-size" data-toggle="collapse" aria-expanded="true" aria-controls="filter-size" role="button" class="h6">
                  SIZE
                </a>
              </div>
              <div id="filter-size" class="collapse show">
                <div class="card-body">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size-small">
                    <label class="custom-control-label" for="size-small">Small</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size-medium" checked>
                    <label class="custom-control-label" for="size-medium">Medium</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size-large" checked>
                    <label class="custom-control-label" for="size-large">Large</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size-extra-large">
                    <label class="custom-control-label" for="size-extra-large">Extra Large</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a href="#filter-colors" data-toggle="collapse" aria-expanded="true" aria-controls="filter-colors" role="button" class="h6">
                  COLORS
                </a>
              </div>
              <div id="filter-colors" class="collapse show">
                <div class="card-body">
                  <div class="color-options">
                    <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                      <input type="checkbox" class="custom-control-input" checked>
                      <span class="custom-control-label" style="background-color: #606ddd"></span>
                    </label>
                    <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label" style="background-color: #4caf50"></span>
                    </label>
                    <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                      <input type="checkbox" class="custom-control-input" checked>
                      <span class="custom-control-label" style="background-color: #17a2b8"></span>
                    </label>
                    <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label" style="background-color: #ffc107"></span>
                    </label>
                    <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label" style="background-color: #f44336"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a href="#filter-brands" data-toggle="collapse" aria-expanded="true" aria-controls="filter-brands" role="button" class="h6">
                  BRANDS
                </a>
              </div>
              <div id="filter-brands" class="collapse show">
                <div class="card-body">
                  <div class="input-group input-group-sm input-group-search mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-light" type="button"><i data-feather="search"></i></button>
                    </div>
                    <input type="text" class="form-control border-0 bg-light" id="search-brands" placeholder="Search...">
                  </div>
                  <div class="brands-list">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-tommy-hilfiger">
                      <label class="custom-control-label" for="brand-tommy-hilfiger">Tommy Hilfiger <small class="counter">43</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-nike">
                      <label class="custom-control-label" for="brand-nike">Nike <small class="counter">245</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-hugo-boss">
                      <label class="custom-control-label" for="brand-hugo-boss">Hugo Boss <small class="counter">221</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-burberry">
                      <label class="custom-control-label" for="brand-burberry">Burberry <small class="counter">157</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-levi's">
                      <label class="custom-control-label" for="brand-levi's">Levi's <small class="counter">272</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-gucci">
                      <label class="custom-control-label" for="brand-gucci">Gucci <small class="counter">218</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-lacoste">
                      <label class="custom-control-label" for="brand-lacoste">Lacoste <small class="counter">166</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-adidas">
                      <label class="custom-control-label" for="brand-adidas">Adidas <small class="counter">244</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-the-north-face">
                      <label class="custom-control-label" for="brand-the-north-face">The North Face <small class="counter">10</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-versace">
                      <label class="custom-control-label" for="brand-versace">Versace <small class="counter">205</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-rolex">
                      <label class="custom-control-label" for="brand-rolex">Rolex <small class="counter">203</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-diesel">
                      <label class="custom-control-label" for="brand-diesel">Diesel <small class="counter">132</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-calvin-klein">
                      <label class="custom-control-label" for="brand-calvin-klein">Calvin Klein <small class="counter">55</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-armani-exchange">
                      <label class="custom-control-label" for="brand-armani-exchange">Armani Exchange <small class="counter">207</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-prada">
                      <label class="custom-control-label" for="brand-prada">Prada <small class="counter">42</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-zara">
                      <label class="custom-control-label" for="brand-zara">Zara <small class="counter">112</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-vans">
                      <label class="custom-control-label" for="brand-vans">Vans <small class="counter">192</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-hermès">
                      <label class="custom-control-label" for="brand-hermès">Hermès <small class="counter">88</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-supreme">
                      <label class="custom-control-label" for="brand-supreme">Supreme <small class="counter">186</small></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-converse">
                      <label class="custom-control-label" for="brand-converse">Converse <small class="counter">107</small></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header px-5 py-2 text-center"><button class="btn btn-primary rounded-pill btn-sm btn-block" data-dismiss="modal">APPLY</button></div>
            </div>
          </div>