<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '_required-css.twig' %}

    {% include '_template-css.twig' %}

    <title>Post List - {{title}}</title>
  </head>
  <body>

    {% include '_header.twig' with {'active':'blog', 'sub':'blog-list'} %}

    <!-- Main Content -->
    <div class="container my-3">
      <div class="row">

        <div class="col">

          <!-- Blog Toolbar -->
          <div class="card">
            <div class="card-body d-flex justify-content-end align-items-center py-2">
              <span class="mr-auto bold">Latest Blog</span>
              <div class="dropdown dropdown-hover">
                <button class="btn btn-light btn-sm border rounded-pill dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Newest <i data-feather="chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <button class="dropdown-item" type="button">Newest</button>
                  <button class="dropdown-item" type="button">Oldest</button>
                  <button class="dropdown-item" type="button">Popular</button>
                </div>
              </div>
              <a href="blog-grid.html" class="btn btn-icon rounded-pill btn-sm btn-outline-primary ml-3" data-toggle="tooltip" title="Show Grid"><i data-feather="grid"></i></a>
              <a href="blog-list.html" class="btn btn-icon rounded-pill btn-sm btn-primary ml-1" data-toggle="tooltip" title="Show List"><i data-feather="list"></i></a>
            </div>
          </div>
          <!-- /Blog Toolbar -->

          <!-- Blog List -->
          <div class="card card-blog card-blog-list mt-3">
            <a href="blog-single.html" class="zoom-hover"><span data-cover="../img/blog/1.jpeg" data-height="100%"></span></a>
            <div class="card-body">
              <a href="blog-single.html" class="title h4">5 Coolest Winter Outfits You Can Steal</a>
              <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consequuntur eligendi a aut fugit nam. <a href="blog-single.html">Read more...</a></p>
              <div class="small text-muted counter">
                <i data-feather="heart"></i> 55
                <i data-feather="message-square" class="ml-3"></i> 15
              </div>
            </div>
          </div>
          <div class="card card-blog card-blog-list mt-3">
            <a href="blog-single.html" class="zoom-hover"><span data-cover="../img/blog/2.jpeg" data-height="100%"></span></a>
            <div class="card-body">
              <a href="blog-single.html" class="title h4">How to Pick the Right Men's Shirt</a>
              <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consequuntur eligendi a aut fugit nam. <a href="blog-single.html">Read more...</a></p>
              <div class="small text-muted counter">
                <i data-feather="heart"></i> 55
                <i data-feather="message-square" class="ml-3"></i> 15
              </div>
            </div>
          </div>
          <div class="card card-blog card-blog-list mt-3">
            <a href="blog-single.html" class="zoom-hover"><span data-cover="../img/blog/3.jpeg" data-height="100%"></span></a>
            <div class="card-body">
              <a href="blog-single.html" class="title h4">5 Simple Outfits for Men</a>
              <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consequuntur eligendi a aut fugit nam. <a href="blog-single.html">Read more...</a></p>
              <div class="small text-muted counter">
                <i data-feather="heart"></i> 55
                <i data-feather="message-square" class="ml-3"></i> 15
              </div>
            </div>
          </div>
          <div class="card card-blog card-blog-list mt-3">
            <a href="blog-single.html" class="zoom-hover"><span data-cover="../img/blog/4.jpeg" data-height="100%"></span></a>
            <div class="card-body">
              <a href="blog-single.html" class="title h4">Business Casual Outfit Ideas</a>
              <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consequuntur eligendi a aut fugit nam. <a href="blog-single.html">Read more...</a></p>
              <div class="small text-muted counter">
                <i data-feather="heart"></i> 55
                <i data-feather="message-square" class="ml-3"></i> 15
              </div>
            </div>
          </div>
          <!-- /Blog List -->

          <!-- Pagination -->
          <div class="card card-pagination mt-3">
            {% include '_card-pagination.twig' %}
          </div>
          <!-- /Pagination -->

        </div>

        <!-- Blog Sidebar -->
        <div class="col-md-4 col-lg-4 mt-3 mt-md-0">
          {% include '_blog-sidebar.twig' %}
        </div>
        <!-- /Blog Sidebar -->

      </div>
    </div>
    <!-- /Main Content -->

    {% include '_footer.twig' %}

    {% include '_modal-menu.twig' with {'active':'blog', 'sub':'blog-list'} %}

    {% include '_required-js.twig' %}

    {% include '_template-js.twig' %}

  </body>
</html>