<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '_required-css.twig' %}

    {% include '_template-css.twig' %}

    <title>Shop Categories - {{title}}</title>
  </head>
  <body>

    {% include '_header.twig' with {'active':'shop', 'sub':'shop-categories'} %}

    <!-- Main Content -->
    <div class="container my-3">

      <!-- Men's Fashion -->
      <div class="row categories-grid gutters-3">
        <div class="col-sm-6 col-md-4">
          <a href="shop-grid.html">
            <div class="card zoom-hover">
              <div data-cover="../img/categories/1.jpeg" data-xs-height="150px" data-sm-height="272px" data-md-height="246px" data-lg-height="324px" data-xl-height="400px"></div>
              <div class="card-img-overlay card-img-overlay-transparent">
                <h2 class="card-title bold">Men's Fashion</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="row gutters-3">
            <div class="col-6 col-sm-12 mt-3 mt-sm-0">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/2.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h3 class="card-title text-center">Clothing</h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-sm-12 mt-3">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/3.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h3 class="card-title text-center">Shoes</h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row gutters-3">
            <div class="col-6 col-md-12 mt-3 mt-md-0">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/4.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h2 class="card-title text-center">Watches</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-12 mt-3">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/5.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h2 class="card-title text-center">Accessories</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <a href="shop-grid.html" class="btn btn btn-light shadow-sm sa-btn">See All <i data-feather="arrow-right"></i></a>
      </div>
      <!-- /Men's Fashion -->

      <hr>

      <div class="row gutters-3">

        <!-- Men's Fashion -->
        <div class="col-6 d-flex">
          <div class="card card-2col flex-fill">
            <div class="d-flex flex-column-reverse flex-md-row">
              <div class="card-2col-body">
                <h2 class="card-title">Men's Fashion</h2>
                <div class="list-group list-group-flush list-group-no-border list-group-sm w-100 text-center">
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Clothing</a>
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Shoes</a>
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Watches</a>
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Accessories</a>
                </div>
                <a href="shop-grid.html" class="btn btn-primary rounded-pill mt-3" data-addclass-on-xs="btn-sm">Shop Now</a>
              </div>
              <div class="card-2col-img">
                <div data-cover="../img/categories/men.jpg" data-xs-height="120px" data-sm-height="200px" data-md-height="236px" data-lg-height="244px" data-xl-height="250px"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Men's Fashion -->

        <!-- Women's Fashion -->
        <div class="col-6 d-flex">
          <div class="card card-2col flex-fill">
            <div class="d-flex flex-column-reverse flex-md-row">
              <div class="card-2col-body">
                <h2 class="card-title">Women's Wear</h2>
                <div class="list-group list-group-flush list-group-no-border list-group-sm w-100 text-center">
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Clothing</a>
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Shoes</a>
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Jewelry</a>
                  <a href="shop-grid.html" class="list-group-item list-group-item-action">Handbags</a>
                </div>
                <a href="shop-grid.html" class="btn btn-danger rounded-pill mt-3" data-addclass-on-xs="btn-sm">Shop Now</a>
              </div>
              <div class="card-2col-img">
                <div data-cover="../img/categories/women.jpg" data-xs-height="120px" data-sm-height="200px" data-md-height="236px" data-lg-height="244px" data-xl-height="250px"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Women's Fashion -->

      </div>

      <hr>

      <!-- Women's Fashion -->
      <div class="row categories-grid gutters-3">
        <div class="col-sm-6 col-md-4">
          <a href="shop-grid.html">
            <div class="card zoom-hover">
              <div data-cover="../img/categories/6.jpeg" data-xs-height="150px" data-sm-height="272px" data-md-height="246px" data-lg-height="324px" data-xl-height="400px"></div>
              <div class="card-img-overlay card-img-overlay-transparent">
                <h2 class="card-title bold">Women's Fashion</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="row gutters-3">
            <div class="col-6 col-sm-12 mt-3 mt-sm-0">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/7.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h3 class="card-title text-center">Clothing</h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-sm-12 mt-3">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/8.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h3 class="card-title text-center">Shoes</h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row gutters-3">
            <div class="col-6 col-md-12 mt-3 mt-md-0">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/9.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h2 class="card-title text-center">Jewelry</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md-12 mt-3">
              <a href="shop-grid.html">
                <div class="card zoom-hover">
                  <div data-cover="../img/categories/10.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                  <div class="card-img-overlay card-img-overlay-transparent">
                    <h2 class="card-title text-center">Handbags</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <a href="shop-grid.html" class="btn btn btn-light shadow-sm sa-btn">See All <i data-feather="arrow-right"></i></a>

      </div>
      <!-- /Women's Fashion -->

    </div>
    <!-- /Main Content -->

    {% include '_footer.twig' %}

    {% include '_modal-menu.twig' with {'active':'shop', 'sub':'shop-categories'} %}

    {% include '_required-js.twig' %}

    {% include '_template-js.twig' %}

  </body>
</html>