.accordion {
  .card {
    overflow: hidden;
    box-shadow: none;
    border: 1px solid $card-border-color;
  }
  .card-header {
    display: block;
    padding: 0;
    background-color: #fff;
    > a {
      display: flex;
      align-items: center;
      padding: .75rem 1rem;
      margin-bottom: 0;
      font-weight: bold;
      &:hover,
      &[aria-expanded="true"] {
        text-decoration: none;
        background-color: $card-cap-bg;
        color: $body-color;
      }
    }
  }
  .collapse.show,
  .collapsing {
    box-shadow: 0 1px 0 0 $card-border-color inset;
  }
  &.accordion-caret .card-header > a {
    padding-right: 2rem;
    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-width: 0 0 1px 1px;
      border-style: solid;
      right: .75rem;
      transform: rotate(-45deg);
      transition: all .35s;
      margin-top: -2px;
    }
    &[aria-expanded="true"]::after {
      transform: rotate(135deg);
      margin-top: 2px;
    }
  }
}