// button with icon only
.btn-icon {
  width: 35px;
  height: 35px;
  padding: 0;
  @include flex-center;
  &.btn-sm {
    width: 28px;
    height: 28px;
  }
  &.btn-lg {
    width: 44px;
    height: 44px;
  }
}

.wishlist,
.zoom,
.quickview {
  border: 0;
  color: $gray-400;
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 0;
  background-color: #fff;
  box-shadow: $box-shadow-sm;
  padding: .3rem 0;
  border-radius: 50%;
  transition: color .2s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 1;
  @include flex-center;
  &.active {
    color: #e83e8c;
  }
  &:focus {
    outline: 0;
  }
}
.zoom,
.quickview {
  left: auto;
  right: .5rem;
  color: $body-color;
}
.quickview {
  color: $gray-500;
  box-shadow: none;
  &:hover {
    color: $gray-600;
  }
  @include media-breakpoint-down('md') {
    display: none;
  }
}