.dropdown-cart {
  .dropdown-menu {
    width: $dropdown-cart-width;
    padding: .5rem .75rem;
    .media {
      position: relative;
      padding: .5rem 0;
      > a {
        margin-right: .5rem; // image link
      }
      &:not(:last-child) {
        border-bottom: 1px dotted $border-color;
      }
    }
    .media-body {
      > a { // product link
        @include text-truncate;
        max-width: $dropdown-cart-width - 115px;
        margin-bottom: 2px;
        display: block;
        font-weight: bold;
        &:not(:hover) {
          color: $body-color;
        }
      }
      > .qty {
        width: 25px;
        display: inline-block;
        text-align: center;
      }
      > .price {
        margin-left: .5rem;
      }
      > .qty,
      > .price {
        @extend .counter;
      }
      .close {
        position: absolute;
        top: calc(50% - 12px);
        right: 2px;
        color: $danger;
        &:hover {
          color: $danger;
        }
        > .feather {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}