.form-checkout {
  max-width: 500px;
}
.shipping-group {
  @include media-breakpoint-up('sm') {
    font-size: $h5-font-size;
    .custom-control {
      padding-left: 2rem;
    }
    .custom-control-label::before,
    .custom-control-label::after {
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}