// Feather icon
.feather {
  vertical-align: sub;
}
.feather[width="24"] { // restyle only default 24px feather icon, so we can still use 'width' attribute
  width: 15px;
  height: 15px;
  .btn-sm > & {
    width: .875rem;
    height: .875rem;
  }
  .btn-lg > & {
    width: 1.125rem;
    height: 1.125rem;
  }
  .badge & {
    width: 1em;
    height: 1em;
    vertical-align: top;
  }
}