// Fix for different margin top (moz only), http://browserhacks.com/
@supports (-moz-appearance:meterbar) {
  .form-check-input {
    margin-top: .22rem;
  }
}

// Form style 1
.form-style-1 {
  .form-group:not(.form-check) > label {
    font-weight: bold;
  }
  .form-control {
    border-radius: $border-radius;
    &:not(:focus):not([disabled]):not([readonly]) {
      background-color: $light;
    }
  }
  .btn {
    border-radius: $border-radius;
  }
}

// Form style 2
.form-style-2 {
  @extend .form-style-1;
  .form-control {
    border-radius: $badge-pill-border-radius;
  }
  .btn {
    border-radius: $badge-pill-border-radius;
  }
}

// input icon
.input-icon {
  position: relative;
  display: block;
  // Default
  > svg {
    position: absolute;
    top: 10px;
    left: $input-padding-x - .25rem;
  }
  > .form-control {
    padding-left: 1.75rem
  }
  // Small
  &.input-icon-sm {
    > svg {
      top: 8px;
      left: $input-padding-x-sm - .25rem;
      width: 13px;
      height: 13px;
    }
    > .form-control-sm {
      padding-left: 1.25rem
    }
  }
  // Large
  &.input-icon-lg {
    > svg {
      top: 11px;
      left: $input-padding-x-lg - .25rem;
      width: 24px;
      height: 24px;
    }
    > .form-control-lg {
      padding-left: 2.5rem
    }
  }
}