// Additional Gutters
.gutters-1 {
  margin-right: -.125rem;
  margin-left: -.125rem;
  > .col,
  > [class*="col-"] {
    padding-right: .125rem;
    padding-left: .125rem;
  }
}
.gutters-2 {
  margin-right: -.25rem;
  margin-left: -.25rem;
  > .col,
  > [class*="col-"] {
    padding-right: .25rem;
    padding-left: .25rem;
  }
}
.gutters-3 {
  margin-right: -.5rem;
  margin-left: -.5rem;
  > .col,
  > [class*="col-"] {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}