// Background Cover
[data-cover] {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// zoom image or cover on hover
.zoom-hover {
  overflow: hidden;
  img, [data-cover] {
    transition: transform .35s;
  }
  &:hover {
    img, [data-cover] {
      transform: scale(1.1);
    }
  }
}

// swiper gallery thumbnail for single product gallery
.product-slider-small {
  margin-top: 1rem;
  .swiper-slide {
    opacity: .5;
    transition: opacity .1s;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
  }
}