.or-divider {
  position: absolute;
  left: 50%;
  margin-left: -17.5px;
  z-index: 1;
  top: 50%;
  margin-top: -17.5px;
  @extend .roboto-condensed;
  font-weight: bold;
  color: #212529;
  @include flex-center;
  border-radius: 50%;
  background-color: $light;
  border: 1px solid $border-color;
  width: 35px;
  height: 35px;
}
.card-login {
  &::before {
    content: '';
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $border-color;
    left: 50%;
  }
}
@include media-breakpoint-up('md') {
  .col-login {
    padding-right: 30px;
  }
  .col-register {
    padding-left: 30px;
  }
}
@include media-breakpoint-down('sm') {
  .or-divider {
    position: static;
    margin: 30px auto;
    &::before {
      content: '';
    }
  }
  .card-login::before {
    width: auto;
    height: 1px;
    right: 0;
    left: 0;
    top: 50%;
    bottom: auto;
    margin-top: -1px;
  }
}