.swiper-pagination-bullet-active {
  background-color: rgba(#fff, .75);
  box-shadow: 0 0 5px 0 #333;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  &:focus {
    outline: 0;
  }
}
.swiper-button-next-sm,
.swiper-button-prev-sm {
  width: 26px;
  height: 26px;
  margin-top: -13px;
}
.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background: none;
  > .feather {
    width: 100%;
    height: 100%;
    color: #868a8f;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: $box-shadow-sm;
    stroke-width: 1;
  }
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  > .feather {
    box-shadow: none;
  }
}
@include media-breakpoint-up('lg') {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    &.autohide {
      transition: transform .2s ease-out;
      .swiper-container:hover & {
        transform: translateX(0);
      }
    }
  }
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  &.autohide {
    transform: translateX(50px);
  }
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  &.autohide {
    transform: translateX(-50px);
  }
}

.swiper-overlay {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 10%;
    color: #fff;
    @include flex-center;
    flex-direction: column;
  &.left {
    align-items: flex-start;
  }
  &.right {
    align-items: flex-end;
  }
  *:not(.btn) {
    @extend .roboto-condensed;
    font-weight: bold;
  }
  h1 {
    @include media-breakpoint-down('sm') { font-size: 180% }
    @include media-breakpoint-down('xs') { font-size: 120% }
  }
  .display-4 {
    @include media-breakpoint-down('sm') { font-size: 300% }
    @include media-breakpoint-down('xs') { font-size: 200% }
  }
}
.swiper-overlay .animated {
  visibility: hidden;
  animation-duration: .75s;
  animation-fill-mode: both;
  &:nth-child(2) {
    animation-delay: .25s;
  }
  &:nth-child(3) {
    animation-delay: .5s;
  }
}
.fadeUp {
  animation-name: fadeUp;
}
.fadeDown {
  animation-name: fadeDown;
}
@keyframes fadeUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}