// Topbar
$topbar-bg: #fff;
$topbar-border-bottom-color: $border-color;

// Header
$header-height: 55px;
$header-bg: #fff;

// Footer
$footer-bg: #fff;
$copyright-bg: #fff;

// Sidebar
$sidebar-width: 200px;
$sidebar-bg: #fff;
$sidebar-link-color: #828282;
$sidebar-link-hover-color: #151515;
$sidebar-link-hover-bg: #f8f8f8;
$sidebar-link-active-bg: #f8f8f8;
$sidebar-link-active-color: #151515;
$sidebar-link-active-mark-bg: $primary;
$sidebar-second-link-bg: #1c1f22;
$sidebar-second-link-hover-bg: #1c1f22;
$sidebar-second-link-active-bg: #1c1f22;
$sidebar-second-link-active-color: #fff;
$sidebar-third-link-active-color: #fff;

// Price
$price-color: #e83e8c;

// Webkit scroll bar
$webkit-scrollbar-size: 9px;
$webkit-scrollbar-track-bg: #f2f2f2;
$webkit-scrollbar-track-border: 1px solid #d9d9d9;
$webkit-scrollbar-handle-bg: #c2c2c2;
$webkit-scrollbar-handle-border: 1px solid #9c9c9c;
$webkit-scrollbar-handle-hover-bg: #919191;
$webkit-scrollbar-handle-hover-border: 1px solid #6a6a6a;

// PerfectScrollbar
$ps-size: 3px;
$ps-hover-size: $ps-size * 2;
$ps-container-hover-focus-clicking-bg: rgba(#333, .1);

// List group
$list-group-item-padding-y-sm: .25rem;
$list-group-item-padding-x-sm: .75rem;

// Cart
$dropdown-cart-width: 300px;